.wrapper {
  margin-top:10px;
  margin-bottom: 20px; 
  background: #CAC9FD;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-content: center;
  align-direction: row;
  border-radius: 6px; 
}
