.card {
  border-radius: 2px;
  height: 175px;
  margin: 1rem;
  position: relative;
  width: 180px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  background: #E9E9FF;
  border-radius: 6px; 
}

.img-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
